{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "@nuxt/eslint-config",
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/base"
  ],
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "defineExpose": "readonly",
    "withDefaults": "readonly",
    "definePageMeta": "readonly"
  }
}
